name: Build

on:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # See https://goreleaser.com/ci/actions/#fetch-depthness
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - run: git fetch --force --tags
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
        cache: true
        check-latest: true
    - name: Get release tag
      id: get_version
      uses: battila7/get-version-action@v2
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2.6.1
      with:
        distribution: goreleaser
        version: 'v2.2.0'
        args: release --snapshot --clean
    - name: Login to GitHub Packages Docker Registry
      uses: docker/login-action@v1
      with:
        registry: docker.pkg.github.com
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Push Images
      run: docker push docker.io/gotocompany/meteor:latest
